<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Webscrape Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p>The latest news, weather, images and more on Mars!</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h2><strong>Latest Mars News:</strong></h2>
    <h3><strong>{{mars_info.news_title}}</strong></h3>
    <p>{{mars_info.news_p}}</p>


    <div class="container-top">
      <div class='row'>
        <div class='col-lg-7'>
          <div class="container-image">
              <h2><strong>Featured Mars Image</strong></h2>
              <a class="featured-image" href={{mars_info.full_image_url}}>Mars Featured Image</a>
              <br>
              <img src={{mars_info.full_image_url}} alt="Mars Feature Image" style="width:100%">
          </div>
        </div>

        <div class='col-lg-5'>
          <div class="box">
            <h2><strong>Current Weather on Mars</strong></h2>
            <br>
            <p>{{mars_info.mars_weather}}</p>
          </div>
          <br>
          <h2><strong>Mars Facts</strong></h2>
          <a href="{{mars_info.mars_table_html}}"></a>
          <p>{{mars_info.mars_table_html | safe}}</p>
        </div> 
      </div>    
    </div>

    <div class="container">
        <div class="row">
            <div class="box">
                <div class="container">
                    <h3 class="Title"><strong>Mars Hemispheres</strong></h3>
                    <hr>
                    <p>Click any image</p>
                    <!--Row Valles Marineris Hemisphere and Cereberus Hemisphere-->
                    <div class="row">
                        <div class = 'col-lg-6 col-md-6'>
                            <h4 class="Image-Title"><strong>{{mars_info.hemisphere_images_url[0].title}}</strong></h4>
                            <a href={{mars_info.hemisphere_images_url[0].image_url}}>
                              <img src={{mars_info.hemisphere_images_url[0].image_url}} class="panel" style="width:100%" alt={{mars_info.hemisphere_images_url[0].title}}></img>
                            </a>
                        </div>
                        <div class = 'col-lg-6 col-md-6'>
                            <h4 class="Image-Title"><strong>{{mars_info.hemisphere_images_url[1].title}}</strong></h4>
                            <a href={{mars_info.hemisphere_images_url[1].image_url}}
                            ><img src={{mars_info.hemisphere_images_url[1].image_url}} class="panel" style="width:100%" alt={{mars_info.hemisphere_images_url[1].title}}></img>
                            </a>
                        </div>
                    </div>
                    <!--Row with the -->
                    <div class="row"> 
                        <div class = "col-lg-6 col-md-6">
                            <h4 class="Image-Title"><strong>{{mars_info.hemisphere_images_url[2].title}}</strong></h4>
                            <a href={{mars_info.hemisphere_images_url[2].image_url}}
                            ><img src={{mars_info.hemisphere_images_url[2].image_url}} class="panel" style="width:100%" alt={{mars_info.hemisphere_images_url[2].title}}></img>
                            </a>
                        </div>
                        <div class = "col-lg-6 col-md-6">
                            <h4 class="Image-Title"><strong>{{mars_info.hemisphere_images_url[3].title}}</strong></h4>
                            <a href={{mars_info.hemisphere_images_url[3].image_url}}
                            ><img src={{mars_info.hemisphere_images_url[3].image_url}} class="panel" style="width:100%" alt={{mars_info.hemisphere_images_url[3].title}}></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
    </div> 
  </div> 

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     
  
</body>

</html>
